@use "../../Sass/variables" as *;

.form {
  display: flex;
  margin: 0.5em 0;
  padding: 0 22.5em;

  input {
    background: $main-background;
    border: none;
    display: flex;
    width: 30rem;
    margin-left: 3.5rem;
   

  }

  .btn_form {
    background: $main-background;
    border: none;
    width: 4em;
    height: 2em;
  }
}

@media (max-width: 375px) {
  .form {
   padding: 1em 0;
   margin-right: 3em;
  }

}


@media (min-width: 376px) and (max-width: 833px) {
  .form {
    padding: 1em 0;
    margin-right: 3em;
   }
}
