@use "../Sass/variables" as *;

.header {
  background-color: #0c70f2;
  height: 2em;
  font-size: 1.5em;

  ul {
    display: flex;
    list-style: none;
    padding: 0.5em 2em;
  }

  li {
    padding: 0em 0.5em;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }

   .header_detail{
    background-color: aliceblue;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: -1;
    color: #0c70f2;
  }

}

@media (max-width: 375px) {
  .header {
    height: 2.5em;
    font-size: 1em;
    align-self: flex-start;

    ul {
      display: flex;
      list-style: none;
      padding: 0.5em;
    }
  }
}

@media (min-width: 376px) and (max-width: 833px) {
  .header {
    height: 2.5em;
    font-size: 1em;
    align-self: flex-start;

    ul {
      display: flex;
      list-style: none;
      padding: 0.5em;
    }
  }
}